install/flows/Account_Enrich.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enrich</name>
        <label>Enrich</label>
        <locationX>689</locationX>
        <locationY>347</locationY>
        <actionName>Enrich</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apiKey</name>
            <value>
                <stringValue>AIzaSyXXXXXXXXXXXXXXXXXXXXXTOmGr4</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingCity</assignToReference>
            <name>BillingCity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingCountry</assignToReference>
            <name>BillingCountry</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingLatitude</assignToReference>
            <name>BillingLatitude</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingLongitude</assignToReference>
            <name>BillingLongitude</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingPostalCode</assignToReference>
            <name>BillingPostalCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AccountForUpdate.BillingStreet</assignToReference>
            <name>BillingStreet</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rawResponse</assignToReference>
            <name>RAWResponse</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>geolocationStatus</assignToReference>
            <name>Status</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Id</name>
        <label>Id</label>
        <locationX>685</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>AccountForUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account: Enrich {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Enrich</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AccountBeforeUpdate</name>
        <label>AccountBeforeUpdate</label>
        <locationX>685</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrich</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>685</locationX>
        <locationY>800</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>AccountForUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>690</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Id</targetReference>
        </connector>
        <fields>
            <name>Done</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Operation Status: &lt;strong&gt;{!geolocationStatus}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>enrichAddressComparision</name>
            <extensionName>c:enrichAddressComparision</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>geolocationStatus</name>
                <value>
                    <elementReference>geolocationStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingCity</name>
                <value>
                    <elementReference>AccountForUpdate.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingCountry</name>
                <value>
                    <elementReference>AccountForUpdate.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingLatitude</name>
                <value>
                    <elementReference>AccountForUpdate.BillingLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingLongitude</name>
                <value>
                    <elementReference>AccountForUpdate.BillingLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingPostalCode</name>
                <value>
                    <elementReference>AccountForUpdate.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>afterBillingStreet</name>
                <value>
                    <elementReference>AccountForUpdate.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingCity</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingCountry</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingLatitude</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingLongitude</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingPostalCode</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>beforeBillingStreet</name>
                <value>
                    <elementReference>AccountBeforeUpdate.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RAWResponse</name>
                <value>
                    <elementReference>rawResponse</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cancel</name>
            <extensionName>c:CancelFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelText</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update Billing Address</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error!</label>
        <locationX>886</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Oops, something went wrong.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>AccountBeforeUpdate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>geolocationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rawResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
